<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello this is Rohanda</title>
  </head>
  <body>
    <h1>Welcome to CV Builder</h1>
    <h2>Please fill in the form to build your CV</h2>
    <form method="post">
    <h3>Personal Info </h3>
      {{ person.as_p }}
    <h3>Education Info </h3>
    <table class="table table-striped m-b-none text-sm">
             {{ education.management_form }}
             {% for form in education %}
             {{ form.id }}
             {% if forloop.first %}
             <thead>
               <tr>
                 {% for field in form.visible_fields %}
                 <th>{{ field.label|capfirst }}</th>
                 {% endfor %}
               </tr>
             </thead>
             {% endif %}
             <tr>
               {% for field in form.visible_fields %}
               <td>
                 {# exclude the hidden fields in the form #}
                 {% if forloop.first %}
                 {% for hidden in form.hidden_fields %}
                 {{ hidden }}
                 {% endfor %}
                 {% endif %}
                 {{ field.errors.as_ul }}
                 {{ field }}
               </td>
               {% endfor %}
             </tr>
             {% endfor %}
           </table>

    <h3>Work Info </h3>

    <h3>Skill Info </h3>

      {% csrf_token %}
      <input type="submit" value="Save">
    </form>



   </body>
</html>
