<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1> Welcome to CV Builder </h1>
    <h2> Click Start to build your CV </h2>
    <form action="/my_cv">
      <input type="submit" value="Start My CV">
    </form>
    <table border = "3">
      <thead>
        <th> Name </th>
        <th> Actions </th>
      </thead>

      {% for item in all_names %}
          <tr>
            <td> {{item}} </td>
            <td>
            <a href ="{% url 'update' item.id %}"> Update </a>
            </td>
            <td>
              <a href ="{% url 'delete' item.id %}"> Delete </a>
            </td>
          </tr>

      {% endfor %}
    </table>
  </body>
</html>
